#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background: #24aecd;
}

.seal {
  width: 313px;
  height: 125px;
  margin: 2% auto;
  background: url(./assets/seal_sprites.png) left center;
  animation: play .5s steps(1) infinite;
}

@keyframes play {
  0% { background-position-y: 0; }
  49% { background-position-y: 153px; }
  /* 50% { background-position-y: 288px; } */
  /* 100% { background-position-y: -310px; } */
}
